a#testeVelocidade{
    text-decoration: none;
    color: #fff;
}

div#bloco{
    background-color: #1A6BAF;
    margin: 0;
    padding: 0;
    height: 640px;
    display: inline-flex;
    width: 100%;
}

div#testeVelocidade{
    margin: 0;
    padding: 0;
    text-align: center;
    color: #fff;
}

p#acesso{
    color: #fff;
    font-size: 30px;
    margin-top: 20%;
}

div#opcoes{
    display: inline-flex;
}

img#wifi {
    width: 47%;
    margin: 6% 0 4% 0;
}

p#teste{
    font-size: 19px;
}

img#divisoria{
    height: 550px;
    margin-top: 50px;
}

div.opc {
    background-color: #fff;
    width: 20%;
    margin: 7% 5% 0 6%;
    height: 410px
}

div#conteudo{
    text-align: center;
}

img#assine{
    display: block;
    float: none;
    margin: 0 auto;
    padding-top: 15%;
}

p.title{
    font-size: 30px;
    color: #1B71B8;
    padding-top: 5%;
}

p.texto{
    width: 90%;
    position: relative;
    display: block;
    font-size: 18px;
    margin: 0 auto;
}

button.btn{
    margin-top: 15%;
    margin-bottom: 15%;
    background-color: #1B71B8;
    padding: 8px 15px 8px 15px;

}

div#bloco2{
    background: url(../img/testeDeVelocidade.jpg) no-repeat;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 728px;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%
}

div.box{
    display: -webkit-box;
    width: 340px;
    margin: 0 auto;
    padding-bottom: 12%;
}

div.first{
    padding-top: 8%;
}

div.last{
    margin-bottom: 0;
    padding-bottom: 0;
}

a.linkLaranja{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

p.lengenda{
    width: 180px;
    padding-left: 10%;
    padding-top: 26%;
    font-size: 25px
}

div#areaLink{
    margin: 0;
    padding: 0;
}

div#bloco3{
    margin: 0;
    padding: 0;
}
div.conteudo{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

div.conteudo:hover{
    margin-top: -15px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

div.azulF{
    margin: 0;
    padding: 0;
    background-color: #324E74;
    height: 590px;
}

div.azulFr{
    margin: 0;
    padding: 0;
    background-color: #365985;
    height: 590px;
}

h1{
    color: #fff;
}

p.legenda{
    color: #fff;
    width: 85%;
    font-size: 18px;
    margin: 0 auto;
    text-align: left;
    padding-left: 2%;
}

img.imgs{
    margin: 0 auto;
    padding-top: 13%;
}

div#bloco4{
    background-color: #EDEDED;
}

h1#title{
    color: #2B79BB;
    margin: 0 auto;
    padding-top: 3%;
    width: 480px;
}

img.perfil{
    border-radius: 100%;
    width: 150px;
    height: 150px;
    position: relative;
    margin: 0 auto;
    margin-top: 8%;
    display: block;
    border: 4px solid #bebebe
}

div.cliente{
    margin: 3% 2% 3% 1.2%;
    background-color: #fff;
    width: 30%;
}

div#contato{
    color: #fff;
}


div#clientes{
    display: block;
    position: relative;
    padding-left: 2%;
    margin: 0;
}

p.textoPerfil{
    display: block;
    position: relative;
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 10%;
    width: 325px;
    font-size: 16px;
}

p.nome{
    text-align: center;
    color: #4470b4;
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 3%;
}

/*Medias*/

@media all and (max-width: 1550px){
    a#logo{
        width: 23%;
        margin-top: 2%;
        left: 3%;
    }
}

@media all and (max-width: 1350px){
    ul#lista{
        margin-left: 10%;
    }

    a#logo {
        width: 26%;
        left: 2.5%;
    }
}
