*{
    margin:0;
    padding:0;
}

div#menu {
    width: 100%;
    position: fixed;
    z-index: 9999;
    margin: 0;
    padding: 0;
    background-color: transparent;
    height: 130px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

div#areaDoCliente{
    display: -webkit-inline-box;
    margin-right: 3%;
    padding: 5px 0px;
    position: absolute;
    right: 25px;
    top: 50px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

a#logo{
    display: block;
    position: absolute;
    width: 25%;
    margin-top: 2%;
    min-width: 180px !important;
    left: 25px;
    height: 100%;
    background: url(../img/logo2.png) no-repeat;
    background-size: 80% auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

img#logoImg{
    width: 100%;
}

i#off{
    font-weight: 800;
    font-size: 20px;
}

a#cliente{
    text-decoration: none;
    color: #535353;
}

ul{
    list-style: none;
}

div#menu nav.menu-central ul li:nth-child(1) span{
    background-image: url(../img/home.png);
}

div#menu nav.menu-central ul li:nth-child(2) span{
    background-image: url(../img/home.png);
}

div#menu nav.menu-central ul li:nth-child(3) span{
    background-image: url(../img/home.png);
}

div#menu nav.menu-central ul li:nth-child(4) span{
    background-image: url(../img/home.png);
}

div#menu nav.menu-central ul li:nth-child(5) span{
    background-image: url(../img/home.png);
}

div#menu nav.menu-central{
    text-align: center;
}

li.linhas{
    position: relative;
}

li{
    display: inline-block;
    padding-left: 46px;
}

nav.menu-central ul li a{
    display: block;
    height: 130px;
    padding: 0 13px 0 5px;
    line-height: 130px;
    color: #000;
    text-decoration: none;
}
nav.menu-central ul li.linhas span{
    display: block;
    width: 47px;
    height: 47px;
    position: absolute;
    left: 0;
    top: calc(50% - 23px);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.c-hamburger {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 96px;
    height: 96px;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}

.c-hamburger:focus {
    outline: none;
}

.c-hamburger span {
    display: block;
    position: absolute;
    top: 44px;
    left: 18px;
    right: 18px;
    height: 8px;
    background: white;
}

.c-hamburger span::before,
.c-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: #fff;
    content: "";
}

.c-hamburger span::before {
    top: -20px;
}

.c-hamburger span::after {
    bottom: -20px;
}

/*style*/
.c-hamburger--htx {
    background-color: #ff3264;
}

.c-hamburger--htx span {
    -webkit-transition: background 0s 0.3s;
    transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
    -webkit-transition-duration: 0.3s, 0.3s;
    transition-duration: 0.3s, 0.3s;
    -webkit-transition-delay: 0.3s, 0s;
    transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
    -webkit-transition-property: top, -webkit-transform;
    transition-property: top, transform;
}

.c-hamburger--htx span::after {
    -webkit-transition-property: bottom, -webkit-transform;
    transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
    background-coeID>
            <stRef:documentID>xmp.did:9ba8c42d-40a4-6742-a8d2-ea3aab057886</stRef:documentID>
            <stRef:originalDocumentID>xmp.did:9ba8c42d-40a4-6742-a8d2-ea3aab057886</stRef:originalDocumentID>
         </xmpMM:DerivedFrom>
         <dc:format>image/png</dc:format>
         <tiff:Orientation>1</tiff:Orientation>
         <tiff:XResolution>720000/10000</tiff:XResolution>
         <tiff:YResolution>720000/10000</tiff:YResolution>
         <tiff:ResolutionUnit>2</tiff:ResolutionUnit>
         <exif:ColorSpace>65535</exif:ColorSpace>
         <exif:PixelXDimension>47